#dropzone {
    background: #ccccc;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
}

#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}

#dropzone.hover {
    background: lawngreen;
}

#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

td.status.true {
    background-image: url("../img/success.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px auto;
}

td.status.false {
    background-image: url("../img/fail.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px auto;
}